:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;
}

@font-face {
    font-family: droid;
    src: url(pacote-projeto-d010/fontes/idroid.otf);
}

*{
    margin: 0px;
    padding: 0px;
}


body{

    background-color: #c5ebc6;
    font-family: 'Bebas Neue', sans-serif;;
}

header{

    color: var(--cor5);
}

main{

    color: var(--cor4);

}

h1,h2,h3{
    font-family: droid, sans-serif;
}

footer{
background-color: var(--cor0);
}